.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 20px 0;
  z-index: 9999;
}

.Header .logo {
  height: 50px;
  mix-blend-mode: darken;
}

.Header .Navbar {
  float: right;
}

.Header .Navbar select {
  margin-right: 15px;
  background: transparent;
  border: 1px solid #cdcdcd;
  padding: 3px 15px;
  border-radius: 3px;
  color: white;
}

.Header .Navbar select option {
  background-color: #fff;
  color: #000;
}

.Header .Navbar a {
  border: white;
  background: red;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  padding: 4px 10px;
  text-decoration: none
}

.Header .Navbar ul li {
  display: inline-block;
  padding-right: 15px;
}

.heroSection {
  background-image: url(../images/hero.jpg);
  height: 100vh;
  background-blend-mode: multiply;
  background-color: #7c7c7c;
  text-align: center;
  padding: 240px 0;
}

.heroSection .heroContent h2 {
  font-size: 45px;
  font-family: sans-serif;
  font-weight: 800;
  color: #fff;
}

.heroSection .heroContent h5 {
  color: #fff;
  font-size: 25px;
  margin: 20px 0;
}

.heroSection .heroContent h6 {
  color: #fff;
  font-weight: 400;
  font-size: 23px;
}

.heroSection .heroContent>div {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSection .heroContent>div input {
  height: 50px;
  max-width: 330px;
  width: 100%;
  padding: 0 15px;
  background: transparent;
  border: 1px solid #999;
  color: white;
  border-radius: 3px;
  font-size: 18px;
}

.heroSection .heroContent>div button {
  height: 50px;
  padding: 0 20px;
  border: none;
  background-color: #ec0309;
  color: #fff;
  margin-left: 8px;
  font-size: 25px;
  border-radius: 3px;
}

.heroSection .heroContent>div button a {
  text-decoration: none;
  color: #fff;
}

.heroSection .heroImg img {
  height: 300px;
  width: auto;
}

.products {
  padding: 40px 0;
}

.bannerImg {
  object-fit: cover;
  width: 100%;
  height: 240px;
}

.sliderDiv {
  height: 450px;
  width: 100%;
  padding: 40px 0;
}

.carouselImg {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
  border-top: 6px solid #3c3c3c;
}

.footer h3 {
  font-size: 1.2rem;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul li a {
  color: #a3a3a3;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footerbottom {
  text-align: center;
  padding: 8px 0;
  border-top: 1px solid #646464;
}

.footerbottom p {
  margin: 0;
}

.enjoyTv {
  padding: 40px 0;
  background-color: #000;
}

.enjoyTv .content h4 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.enjoyTv .content p {
  font-size: 23px;
  color: #fff;
}

.enjoyTv .tvFrame {
  position: relative;
  z-index: 2;
}

.enjoyTv .tvFrame img {
  height: 100%;
  width: 100%;
  z-index: 9;
}

.enjoyTv .tvFrame iframe {
  position: absolute;
  right: 9%;
  top: 20%;
  z-index: -1;
  width: 450px;
  height: 228px;
}

.enjoyTv {
  border-bottom: 6px solid #3c3c3c;
}

.Accordion {
  padding: 40px 0;
  background-color: #000;
}


.heroContent h6 {
  color: #fff;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  margin-top: 20px;
}

.heroContent>div {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContent>div input {
  height: 50px;
  max-width: 330px;
  width: 100%;
  padding: 0 15px;
  background: transparent;
  border: 1px solid #999;
  color: white;
  border-radius: 3px;
  font-size: 18px;
}

.heroContent>div button {
  height: 50px;
  padding: 0 20px;
  border: none;
  background-color: #ec0309;
  color: #fff;
  margin-left: 8px;
  font-size: 25px;
  border-radius: 3px;
}

.heroImg img {
  height: 300px;
  width: auto;
}

.loginForm {
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  background-color: #7c7c7c;
  padding: 150px 0 0;
}

.loginForm Form {
  max-width: 400px;
  margin: 0 auto;
  background: rgb(0 0 0 / 64%);
  padding: 30px;
}

.loginForm Form h2 {
  color: #fff;
  margin: 0 0 25px;
}

.loginForm Form button.signIn {
  background-color: red;
  color: #fff;
  width: 100%;
  text-decoration: none;
  padding: 7px 0;
}

.loginForm Form button.signIn a {
  text-decoration: none;
  color: #fff;
}

.loginForm Form small {
  color: #fff;
  display: grid;
  place-items: center;
}

.loginForm Form button {
  background: rgb(191 191 191 / 42%);
  width: 100%;
  color: #fff;
  text-decoration: none;
  padding: 7px 0;
}

.loginForm Form .form-check label {
  color: #fff;
}

.loginForm Form .mb-3 p strong {
  color: #fff
}

.loginForm Form .mb-3 p {
  color: #c9c8c8
}

.footerCopy {
  text-align: center;
  padding: 30px 0 0;
  color: #c9c8c8
}

.footerCopy a {
  color: red;
}

/* tab responsive  */

@media only screen and (max-width:992px) {
  .heroSection{
    padding: 150px 0;
  }
  .enjoyTv .tvFrame iframe{
    position: absolute;
    right: 14%;
    top: 13%;
    z-index: -1;
    width: 530px;
    height: 350px;
  }
}

/* mobile responsive  */

@media only screen and (max-width:500px) {
  .heroSection .heroContent>div input {
    max-width: 220px;
    font-size: 16px;
  }

  .heroSection .heroContent>div button {
    font-size: 15px;
  }
  .heroSection .heroContent h2{
    font-size: 35px;
  }

  .heroSection {
    padding: 150px 0;
  }

  .enjoyTv .content p {
    font-size: 17px;
  }

  .enjoyTv .content h4 {
    font-size: 35px;
  }

  .enjoyTv .tvFrame iframe {
    position: absolute;
    right: 15%;
    top: 5%;
    z-index: -1;
    width: 250px;
    height: 234px;
  }

  .heroSection .heroContent h6 {
    font-size: 18px;
  }

  .heroContent>div button {
    font-size: 15px;
  }

  .heroContent>div input {
    max-width: 220px;
  }
}